# Ignore SQLite database file
db.sqlite3

# Ignore migrations
**/migrations/

# Ignore static files collected by Django
staticfiles/

# Ignore logs
*.log

# Ignore environment-specific settings
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.pyc